.footer__column-link{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  align-items: center;
  text-decoration: none;
}

.footer__column-link a, .footer__column-link p{
  color: white;
  text-decoration: none;
}

.footer__column-link:hover{
  opacity: 0.5;
  transition: opacity 0.5s;
}
