.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  margin: 0 auto;
  margin-bottom: -60px;
}

.video__iframes{
  margin-top: 50px;
}

.video__iframe{
  width: 515px;
  height: 316px;
}

