.header {
  margin: 0 auto;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  display: flex;
  background-color: #F2F2F2;
  position: relative;
  overflow: hidden;
}









