.footer{
  min-height: 350px;
  display: flex;
  flex-direction: row;
  padding: 60px 0 40px;
  justify-content: center;
  background-color: #1F1F1F;
  color: white;
}

.logo_place_footer{
  width: 183px;
  height: 35px;
}


