* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  margin: 0 auto;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  display: flex;
  background-color: #F2F2F2;
  position: relative;
  overflow: hidden;
}

.logo_place_header{
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title{
  align-self: center;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle{
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link{
  text-decoration: none;
  color: #2F80ED;
  white-space: pre;
}

.header__main-illustration{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 756px;
  height: 608px;
  z-index: 1;
}

.header__square{
  position: absolute;
  top:64px;
  right: 0px;
  width: 568px;
  height: 568px;
  background-color: #2F80ED;
  z-index: 0;
}

.description{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 100px;
}

.two-columns{
  display: flex;
  width: 80%;
  justify-content: space-between;
  min-height: 100%;
}

.two-columns__brief{
  width:175px;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 784px;
  width: 80%;
  row-gap: 30px;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title{
  width: 60%;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
}

.section-subtitle{
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table{
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  row-gap: 60px;
  justify-content: space-between;
  margin-top: 60px;
}

.table__cell{
  width: 250px;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
}

.feynman{
  height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 70px;
  padding-top: 100px;
  position: relative;
  background-color: #F2F2F2;
  z-index: 0;
}

.feynman__image{
  position: absolute;
  left: 0;
  bottom:0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

.feynman__title{
  width:775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 70px;
  z-index: 2;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
}

.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2F80ED;
  z-index: 2;
}

.kaufman{
  display: flex;
  flex-direction: column;
  padding: 90px 0;
  align-items: center;
  background-color: #1F1F1F;
  overflow: hidden;
  position: relative;
}

.section-title_theme_dark{
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark{
  margin-bottom: 0;
  color: white;
  z-index: 1;
}

.table_theme_dark{
  width: 1100px;
  position: relative;
  z-index: 1;
  row-gap: 80px;
}

.table__cell_theme_dark{
  width: 200px;
  color: white;
}

.table__heading_theme_dark{
  color:white;
}

.table__text_theme_dark{
  color:white;
}

.kaufman__triangle{
  position: absolute;
  top: 0;
  right:-124px;
  height: 660px;
  width: 636px;
  z-index: 0;
}

.footer{
  min-height: 350px;
  display: flex;
  flex-direction: row;
  padding: 60px 0 40px;
  justify-content: center;
  background-color: #1F1F1F;
  color: white;
}

.footer__columns{
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.footer__columns_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__columns_content_social{
  display: flex;
  flex-direction: column;
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.logo_place_footer{
  width: 183px;
  height: 35px;
}

.footer__column-heading{
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  align-items: center;
  text-decoration: none;
}

.footer__column-link:visited, .footer__column-link:active, .footer__column-link, a{
  color: white;
  text-decoration: none;
}

.footer__social-icons{
  width: 16px;
  height: 16px;
}
