.khan__buy-link{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link a{
  text-decoration: none;
  color: #2F80ED;
}

.khan__buy-link:hover{
  opacity: 0.5;
  transition: opacity 0.5s;
}
